<div class="header">
  <div class="header-left">
    <img class="logo" [src]="logoImg" alt="" />
    <ul class="list-nav-left">
      <li class="nav-item">
        <p>My united</p>
        <div class="border_bottom"></div>
      </li>
      <li class="nav-item">
        FIrst Team
        <div class="border_bottom"></div>
      </li>
      <li class="nav-item">
        Manager
        <div class="border_bottom"></div>
      </li>
      <li class="nav-item">
        LEgend
        <div class="border_bottom"></div>
      </li>
    </ul>
  </div>
  <div class="header-right">
    <ul class="list-nav-right">
      <li class="nav-item">Sign in<div class="border_bottom"></div></li>
      <li class="nav-item">Sign up<div class="border_bottom"></div></li>
    </ul>
  </div>
</div>
