<div class="manager-wrapper item">
  <div class="manager-info leftTo">
    <p class="manager-info-position">Manager</p>
    <p class="manager-info-name">Ole gunnar solskjaer</p>
    <p class="manager-info-slogan">
      "BEING GIVEN THE OPPORTUNITY TO MOVE THE CLUB FORWARD WITH ALL ITS
      POTENTIAL IS FANTASTIC"
    </p>
  </div>
  <div class="manager-img bottomTo"><img [src]="managerImg" alt=""></div>
  <div class="manager-achivement rightTo">
    <p>Matches: <br> 131</p>
    <p>wins: <br> 73</p>
    <p>trophies: <br> 0</p>
  </div>
</div>
