<div class="calendar-wrapper">
  <div class="calender-left">
    <h3>Trận đấu sắp tới</h3>
    <div class="two-team">
      <div class="team">Viet Nam</div>
      <div class="team">-</div>
      <div class="team">Nhat Ban</div>
    </div>
    <div class="date-match">Thời gian: 20-07-2003 8h30 AM</div>
    <div class="place-match">Địa điểm: Sân vận động quốc gia mỹ đình</div>
  </div>
  <div class="calender-right">
    <h3>Lịch sử thi đấu</h3>
    <div class="table-block">
    <table class="table table-hover table-striped">
      <thead>
        <th>STT</th>
        <th>Kết quả</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
                <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Viet Nam: 0 - 1 Nhat Ban</td>
        </tr>
        
      </tbody>
    </table>
  </div>
  </div>
</div>
