<div class="slider-wrapper-container">
  <ul class="nav-title">
    <li><a href="#firstTeam"> FIrst Team</a></li>
    <li>  <a href="#firstTeam"> Manager</a></li>
    <li>Lengend</li>
  </ul>
  <div #sliderContainer class="slider-wrapper">
    <div #bannerItem *ngFor="let item of listArrayBanner" class="slider">
      <img [src]="item" alt="" class="banner-img" />
    </div>
  </div>
  <ul class="list-dot">
    <li
      *ngFor="let item of listArrayBanner; index as idx"
      [style]="getStyleIndex(idx)"
      (click)="handleTransferSlide(idx)"
      class="dot-item"
    ></li>
  </ul>
</div>
