.member-wrapper{
  color: #000000;
  padding: 0 9%;
  font-family: 'Roboto';
  position: relative;

}
thead{
  background: rgb(0, 0, 0);

}
th{
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  color: #fff;
}
td{
  height: 38px;
  line-height: 38px;
  padding: 6px;
}
tr{
  cursor: pointer;
}

.member-wrapper-content{
  padding: 20px 0;
  display: flex;
}
.mr-1{
  margin-right: 12px;
}
.table-block{
    width: 60%;
}
.table-member{

}
.info-team{
width: 40%;
padding: 0 40px;
}
.info-team-del{

}
.list-info{
  list-style: none;
}
.info-item{
  display: flex;
  color: #000000;
  align-items: center;
  padding: 8px 0;
}
.info-item-anw{
  color: #000;
  margin: 0 12px;
}
.label-team{
  width: 50px;
  margin: 0 12px;
}
.info-item-title{
  width: 130px;
  color: #000000;
  font-weight: 600;
}
.btn-regis{
  position: absolute;
  top: 20px;
  right: 10%;
}
.modal-add-member{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0,0.4);
  z-index: 1;
  display: flex;
  justify-content: center;
  animation-name: signAppearence;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode:backwards;
}
.form-add{
  padding: 10px 40px;
  margin-top: 5%;
  position: relative;
  width: 500px;
  max-width: 100%;
  height: 80vh;
  background: #d11b1b;
  box-shadow: 3px 3px 5px gray;
  border-radius: 6.4px;
}
.close-icon{
  cursor: pointer;
  position: absolute;
  color: bisque;
  top: 5px;
  right: 15px;
  font-size: 1.6em;
}
.form{
  margin-top: 20px;
}
.form-title{
  font-size: 1.5em;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  color: bisque;
}
label{
  color: bisque;
  margin: 12px 0;
  font-size: 1.3em;
}
.form-group{
  margin: 15px 0;
}
@keyframes signAppearence {
  from{
    transform: translateY(-100%);
  }to{
    transform: translateY(0px);
  }
}
